@model IEnumerable<SensorProjectV1._0.Models.Log>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device.DeviceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(model => item.LogID)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device.DeviceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LogID }) |
            @Html.ActionLink("Details", "Details", new { id = item.LogID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LogID })
        </td>
    </tr>
}

</table>
